@import '../../styles/variables.scss';

.root {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 2.5rem;
  margin: $spacing-lg;
  color: $dark-blue;
}

.followUp, .followUp p {
  font-family: $body;
  font-size: 1.5rem;
  font-weight: normal;
  color: $dark-grey;
}

.attribution {
  float: right;
}

.buttonsWrapper {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: $spacing-md;
  button {
    font-family: Montserrat;
    font-weight: 700;
    background-color: $white;
    color: $orange;
    margin: $spacing-lg;
    padding: $spacing-md;
    cursor: pointer;
    border: 2px solid $orange;
    border-radius: 4px;
    outline: none !important;
  }
  @include for-tablet-portrait-down {
    width: 100%;
  }
  @include for-phone-only {
    width: 100%;
    flex-direction: column;
  }
}
