@import '../../styles/variables';

.root {
  height: 400px;
  background-image: url('../../assets/8438474948_b8d590afa1_h.jpg');
  background-position: bottom;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  grid-column: 1 / 4;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
    background-color: #111;
  }
}

.footerText, .footerLink {
  font-family: $body;
  font-size: 1.25rem;
  color: #ccc;
  z-index: 200;
}

.footerLink {
  font-color: $body;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px;
}

.copyrightWrapper {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 200;
  .copyright {
    font-family: $body;
    color: #ccc;
    float: left;
    margin-left: 30px;
  }
  .phoneNumber {
    font-family: $body;
    color: #ccc;
    float: right;
    margin-right: 30px;
  }
}
