@import '../../styles/variables';

.root {
  height: 400px;
  background-image: url('../../assets/8438474948_b8d590afa1_h.jpg');
  background-position: bottom;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
    background-color: #111;
  }
}

.footerText, .footerLink {
  color: #ccc;
  font-size: 1.25rem;
  font-size: 1.25rem;
  z-index: 200;
}

.footerLink {
  color: white;
  text-decoration: underline;
}
