@import '../../styles/variables';

 .root {
   width: 90vw;
   max-width: 1600px;
   max-height: 900px;
   margin: auto;
   display: grid;
   @include for-tablet-portrait-up {
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
   }
   @include for-phone-only {
     grid-template-rows: repeat(4, 1fr);
   }
 }

.testImageWrapper1 {
  grid-column: 1;
  grid-row: 1;
  background-color: lightSlateGrey;
}

.testImageWrapper2 {
  grid-column: 2;
  grid-row: 1;
  background-color: saddleBrown;
  @include for-phone-only {
    grid-column: 1;
    grid-row: 2;
  }
}

.testImageWrapper3 {
  grid-column: 1;
  grid-row: 2;
  background-color: goldenrod;
  @include for-phone-only {
    grid-column: 1;
    grid-row: 3;
  }
}

.testImageWrapper4 {
  grid-column: 2;
  grid-row: 2;
  background-color: slateBlue;
  @include for-phone-only {
    grid-column: 1;
    grid-row: 4;
  }
}

div[class*="testImageWrapper"] {
  position: relative;
  overflow: hidden;
  z-index: 400;
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
    opacity: 0.9;
    content: "content";
    display: block;
    position: absolute;
    z-index: 300;
    transform: scale(2) translateX(-100%) translateY(-100%) rotate(-15deg);
    transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
    @include for-phone-only {
      display: none;
    }
  }
  &:hover::after {
    transform: scale(2) translateX(0) translateY(0) rotate(-45deg);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    @include for-phone-only {
      display: none;
    }
  }
  &:hover {
    @include for-tablet-portrait-up {
      .testImage, .anchorImage {
        transform: scale(1.2);
        transition: transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
      }
      .textOverlay {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1.5s cubic-bezier(0.23, 1, 0.32, 1),
                    transform 1s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}

.anchorImage {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}

.testImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
}

.testImage, .anchorImage {
  transform: scale(1);
  transition: transform 0.5s ease-out;
  transition-delay: 0.2s;
}

.textOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.5rem sans-serif;
  color: white;
  opacity: 0;
  z-index: 450;
  position: absolute;
  height: 60px;;
  width: 200px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -30px;
  transform: translateY(-75%);
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1),
              transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  @include for-phone-only {
    display: none;
  }
}
